{% load static %}

<footer id="contacto" class="bg-teal-600 text-white mt-auto">
  <div class="container flex mx-auto px-6 py-[20px] xl:px-4">
    

    
    <div class="flex grid-cols-1 flex-wrap items-center justify-center gap-4 lg:gap-12">
      <img
      src="{% static 'CH-DIAPO.svg' %}"
      alt="Participa | Udelar"
      class="h-12 lg:h-16 flex-1 lg:flex-initial"
    />
      {% if not conversation.show_footer %}
      <a class="flex items-center h-12 lg:h-16" href="https://compdemocracy.org/Polis/" target="_blank">
        <div class="text-white font-semibold pr-3 text-xs md:text-sm">
            <span class="text-nowrap whitespace-nowrap">{{_("Hecho con Polis")}}</span>
        </div>
          {% include "components/polis_logo.html" %}
      </a>

      {% endif %}
      <a class="flex items-center h-12 lg:h-16" href="https://uruguay.fes.de/" target="_blank">
        <div class="text-white font-semibold pr-3 text-xs md:text-sm">
            <span class="text-nowrap whitespace-nowrap">{{_("Apoya")}}</span>
        </div>
        <img
          src="{% static 'img/FES blanco.png' %}"
          alt="FES"
          class="h-12 lg:h-16 flex-1 lg:flex-initial"
        />
      </a>
      {% include 'components/locale_switcher_form.html' %} 
    </div>

  
  </div>
</footer>
