{% load static %}

<header id="header" class="w-full bg-naranja text-white z-10 transition-all duration-300 sticky top-0" style="background-color: {{conversation.color_primary}}">
    <nav x-data="{ open: false }" class=" text-white border-b border-gray-100">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-20 items-center">
          <!-- Logo and title -->
          <div class="hidden lg:flex">
            <span><a href="{% url 'main_home' %}"><img class="h-12 lg:h-16" src="{% static 'H-DIAPO.svg' %}"/></a></span>
          </div>
          <div class="flex lg:hidden">
            <span><a href="{% url 'main_home' %}"><img class="h-12 lg:h-16" src="{% static 'R2-DIAPO.svg' %}"/></a></span>
          </div>

           <!-- Conversation Title -->
           <div class="flex w-3/4 ">
            {% if not conversation.show_topic %}
            <h1 class="w-full text-xl lg:text-3xl font-bold p-2 text-center">{{conversation.topic}}</h1>
            {% endif %}
          </div>
          
          <!-- Hamburger Icon -->
          <div class="flex items-center lg:hidden">
            <button @click="open = !open" class="text-white focus:outline-none">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          
         

          <!-- User Profile -->
          <div class="hidden lg:flex">
            {% include 'components/user_profile.html' %}
          </div>
        </div>
        
        <!-- Dropdown Menu for Mobile -->
        <div x-show="open" @click.away="open = false" class="lg:hidden bg-naranja">
          <a href="{% url 'about' %}" class="block px-4 py-2">{{ _('About Us') }}</a>
          <a href="{% url 'home' %}" class="block px-4 py-2">{{ _('Polarization') }}</a>
          {% include 'components/user_profile.html' %}
        </div>
      </div>
    </nav>
  </header>