{% load static %}

<footer id="footer" class="absoulte bottom-0 w-full bg-naranja text-white z-10 transition-all duration-300" style="background-color: {{conversation.color_primary}}">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-4 flex items-center justify-between">
        <!-- Footer content -->
        <span><a href="{% url 'main_home' %}"><img class="h-12" src="{% static 'H-DIAPO.svg' %}"/></a></span>
        <div class="flex items-center text-black">
          <!-- Navigation links -->
          {% include 'components/locale_switcher_form.html' %}
        </div>
      </div>
    </div>
  </footer>