{% load static %}

<footer id="footer" class="">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-2 lg:py-4 flex flex-row items-center justify-between">
 
        <!-- Polis -->
        {% if not conversation.show_footer %}
        <div class="flex items-center text-black my-2">
          <!-- Navigation links -->
          <div class="flex items-center">
            <a href="https://pol.is/home" class="h-12 md:h-16">
              {% include "components/polis_logo.html" %}
            </a>
            <div class="flex flex-col  px-3 text-xs md:text-sm">
              <a href="https://compdemocracy.org/Polis/" target="_blank">{{_("Powered by Polis")}}</a>
            </div>
            {% include 'components/locale_switcher_form.html' %}
          </div>
        </div>
        {% endif %}
        
      </div>
    </div>
  </footer>