{% load account %}
{% load socialaccount %}
<div class="flex items-center justify-between">

  {% if user.is_authenticated %}
  {% user_display user %}
  {% elif participant %}
  <span>{{ participant.name }}</span>
  {% else %}
  <span>{{ _('Guest') }}</span>
  {% endif %}

  {% if participant %}
    <img class="mx-4 w-12 h-12 p-0 rounded-full ring-2 ring-blue-500 dark:ring-blue-400" src="{{ participant.avatar_url|default_if_none:"person.png" }}" alt="Avatar" />
  {% else %}
    <span class="mx-4 w-12 h-12 p-0 rounded-full ring-2 ring-blue-500 dark:ring-blue-400" alt="Avatar"></span>
  {% endif %}

  <div>
    <ul>
      {% if user.is_authenticated or participant %}
        
      <a href="{% url 'participant_logout' %}">{{ _('Sign Out') }}</a>
   
      
      {% endif %}
    </ul>
  </div>
</div>
