{% load account %}
{% load socialaccount %}
<div class="flex items-center justify-between">

  {% if user.is_authenticated %}
  {% user_display user %}
  {% elif participant %}
  <span>{{ participant.name }}</span>
  {% else %}
  <span>{{ _('Guest') }}</span>
  {% endif %}

  {% if participant %}
    <img class="mx-4 w-12 h-12 p-0 rounded-full ring-2 ring-blue-500 dark:ring-blue-400" src="{{ participant.avatar_url|default_if_none:"person.png" }}" alt="Avatar" />
  {% else %}
    <span class="mx-4 w-12 h-12 p-0 rounded-full ring-2 ring-blue-500 dark:ring-blue-400" alt="Avatar"></span>
  {% endif %}

  <div>
    <ul>
      {% if user.is_authenticated %}
        
        <form action="{% url 'account_logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">{{ _('Sign Out') }}</button>
        </form>
      {% else %}
        <div class="flex">
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <ul>
              {% for provider in socialaccount_providers %}
              <form action="{% provider_login_url provider.id %}" method="post">
                {% csrf_token %}
                <button type="submit">{{provider.name}}</button>
              </form>
              
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    </ul>
  </div>
</div>
