{% load static tailwind_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Plataforma Participa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% tailwind_css %}
  </head>

  <body class="bg-white text-gray-600">
    <!-- Navigation -->
    <header id="header" class="fixed w-full bg-white border-b border-gray-100 z-10 transition-all duration-300">
      <nav class="bg-naranja text-white border-b border-gray-100">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-20 items-center">
            <div class="flex">
              <!-- Logo and title -->
              <span><a href="{% url 'main_home' %}"><img class="h-16" src="{% static 'H-DIAPO.svg' %}"/></a></span>
            </div>
            <div class="flex items-center w-3/4">
              <!-- Navigation links -->
              <a href="{% url 'about' %}" class="ml-4 px-4">{{ _('About Us') }}</a>
              <a href="{% url 'home' %}" class="ml-4 px-4">{{ _('Polarization') }}</a>
            </div>

            {% include 'components/user_profile.html' %}
          </div>
        </div>
      </nav>
    </header>
    <!-- Main content -->
    <main class="pt-[4rem] pb-[4rem]">
      <!-- Messages -->
      <section>
        {% if messages %}
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="py-4">
              {% for message in messages %}
                <div class="bg-naranja border-l-4  text-white p-4" role="alert">
                  <p class="font-bold">{{ message.tags }}</p>
                  <p>{{ message }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </section>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer id="footer" class="fixed bottom-0 w-full bg-naranja text-white z-10 transition-all duration-300">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="py-4 flex items-center justify-between">
          <!-- Footer content -->
          FOOTER<div class="flex items-center text-black">
            <!-- Navigation links -->
            {% include 'components/locale_switcher_form.html' %}
          </div>
        </div>
      </div>
    </footer>
    <script>
      // JavaScript for adding the scroll effect
      window.addEventListener('scroll', () => {
        const header = document.getElementById('header')
        const footer = document.getElementById('footer')
        if (window.scrollY > 50) {
          // Adjust this value based on when you want the shrink effect to occur
          header.classList.add('header-scrolled')
          footer.classList.add('footer-scrolled')
        } else {
          header.classList.remove('header-scrolled')
          footer.classList.remove('footer-scrolled')
        }
      })
    </script>
  </body>
</html>
