{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-white text-gray-600">
	<!-- Navigation -->
	<header id="header" class="fixed w-full bg-white border-b border-gray-100 z-10 transition-all duration-300">
		<nav class="bg-white border-b border-gray-100">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
				<div class="flex justify-between h-16 items-center">
					<div class="flex">
						<!-- Logo and title -->
						<span><a href="{% url "home" %}">PARTICIPA</a></span>
					</div>
					<div class="flex items-center">
						<!-- Navigation links -->
						<span>QUIÉNES SOMOS</span>
					</div>
					<div class="flex items-center">
						<!-- Navigation links -->
						{% include "components/locale_switcher_form.html" %}
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- Main content -->
	<main class="pt-[4rem] pb-[4rem]">
		{% block content %}{% endblock content %}
	</main>


	<!-- Footer -->
	<footer id="footer" class="fixed bottom-0 w-full bg-green-700 z-10 transition-all duration-300">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="py-4">
				<!-- Footer content -->
				FOOTER
			</div>
		</div>
	</footer>
	<script>
		// JavaScript for adding the scroll effect
		window.addEventListener('scroll', () => {
			const header = document.getElementById('header');
			const footer = document.getElementById('footer');
			if (window.scrollY > 50) { // Adjust this value based on when you want the shrink effect to occur
				header.classList.add('header-scrolled');
				footer.classList.add('footer-scrolled');
			} else {
				header.classList.remove('header-scrolled');
				footer.classList.remove('footer-scrolled');
			}
		});
	</script>
</body>

</html>