{% load static %}

<header
  class="container mx-auto flex h-[80px] flex-wrap content-between items-center gap-4 bg-[#f0f0f0] px-6 py-4 xl:px-4"
>
  <span class="sr-only">{{ _('Participa') }}</span>

  <div class="flex w-full content-between items-center lg:w-auto">
    <a href="{% url 'main_home' %}" class="logo__link w-[59px] xl:w-[81px]">
      <img src="{% static 'img/logo.svg' %}" alt="{{ _('Participa') }}" class="w-full" />
    </a>

    <button
      id="menu-toggle"
      class="ms-auto block lg:hidden"
      aria-expanded="false"
    >
      <span class="sr-only">{{ _('Menú') }}</span>
    </button>
  </div>

  <nav
    class="hidden px-6 py-8 lg:ms-auto lg:flex lg:px-0 lg:py-0"
    id="nav"
  >
    <ul class="flex flex-col gap-5 lg:flex-row lg:gap-[30px]">
      <li>
        <a
          href="{% url 'main_home' %}#quienes-somos"
          class="block py-4 text-base font-semibold uppercase tracking-[0.1em] text-teal-600 transition hover:text-orange-400"
          >{{ _('Quiénes somos') }}</a
        >
      </li>
      <li>
        <a
          href="{% url 'main_home' %}#publicaciones"
          class="block py-4 text-base font-semibold uppercase tracking-[0.1em] text-teal-600 transition hover:text-orange-400"
          >{{ _('Publicaciones') }}</a
        >
      </li>
      <li>
        <a
          href="{% url 'main_home' %}#actividades"
          class="block py-4 text-base font-semibold uppercase tracking-[0.1em] text-teal-600 transition hover:text-orange-400"
          >{{ _('Actividades') }}</a
        >
      </li>
      <li>
        <a
          href="{% url 'main_home' %}#polarizacion"
          class="block py-4 text-base font-semibold uppercase tracking-[0.1em] text-teal-600 transition hover:text-orange-400"
          >{{ _('Despolarización') }}</a
        >
      </li>
      <li>
        <a
          href="{% url 'main_home' %}#contacto"
          class="block py-4 text-base font-semibold uppercase tracking-[0.1em] text-teal-600 transition hover:text-orange-400"
          >{{ _('Contacto') }}</a
        >
      </li>
      {% block user_profile %}{% endblock user_profile %}
    </ul>
    <div id="social" class="absolute bottom-0 left-0 mt-auto w-full bg-teal-600 p-8 lg:hidden">
          <div class="flex grid-cols-1 flex-wrap items-center gap-8">
            <a href="https://www.facebook.com/profile.php?id=61565964459885" target="_blank">
              <img class="h-6" src="{% static 'img/logo-fb.svg' %}" alt="Facebook" />
            </a>
            <!--<a href="#">
              <img class="h-6" src="{% static 'img/logo-x.svg' %}" alt="Twitter" />
            </a>-->
            <a href="https://www.instagram.com/participa.uy/" target="_blank">
              <img class="h-6" src="{% static 'img/logo-ig.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/company/participalab" target="_blank">
              <img class="h-6" src="{% static 'img/logo-ln.svg' %}" alt="Linkedin" />
            </a>
          </div>
    </div>
  </nav>

</header>

