{% extends 'base.html' %}
{% load socialaccount %}

{% block header %}
{% include "header.html" %}
{% endblock header %}



{% block content %}
<div class="p-6 w-8 h-8 bg-white border flex justify-center items-center opacity-75">
    <div class="block sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden">
      XS
    </div>
    <div class="hidden sm:block md:hidden lg:hidden xl:hidden 2xl:hidden">
      SM
    </div>
    <div class="hidden sm:hidden md:block lg:hidden xl:hidden 2xl:hidden">
      MD
    </div>
    <div class="hidden sm:hidden md:hidden lg:block xl:hidden 2xl:hidden">
      LG
    </div>
    <div class="hidden sm:hidden md:hidden lg:hidden xl:block 2xl:hidden">
      XL
    </div>
    <div class="hidden sm:hidden md:hidden lg:hidden xl:hidden 2xl:block">
      2XL
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}
