{% extends 'base.html' %}
{% load socialaccount %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block content %}
<div class="max-w-7xl mx-auto">
    <section>
    <h1 class="text-2xl lg:text-3xl font-bold text-center p-3">{{ _('Why this poll?') }}</h1>
    <h1 class="text-2xl lg:text-3xl font-bold text-center p-3">{{ _('What is Polis and how it works?') }}</h1>
    <h1 class="text-2xl lg:text-3xl font-bold text-center p-3">{{ _('Privacy and Personal Data') }}</h1>
    </section>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}
