{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}


  {% if participant and show_login %}
  <div class="flex items-center justify-between w-full">
    <input class="bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-auto my-4" type="submit" value="{{_("Start")}}"/>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <ul  class="w-full flex justify-between my-4">
          {% for provider in socialaccount_providers %}
          <form action="{% provider_login_url provider.id %}" method="post">
            {% csrf_token %}
            {% if provider.id == 'google' %}
            <button class="bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-google"></i>{{provider.name}}</button>
            {% elif provider.id == 'telegram' %}
            <button class="bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-telegram"></i>{{provider.name}}</button>
            {% elif provider.id == 'twitter_oauth2' %}
            <button class="bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-twitter"></i>{{provider.name}}</button>
            {% endif %}
          </form>
          {% endfor %}
        </ul>
      {% endif %}
  </div>
  {% elif participant %}
    <section class="grid grid-cols-1 gap-3 p-10 md:grid-cols-3">
      {% for conversation in object_list %}
        <div class="card p-5 bg-turquesa border border-1 rounded-md flex flex-col shadow-md text-gray-100" style="background-color: {{conversation.color_secondary}}">
          <div class="flex justify-between">
            <h2 class="text-xl font-bold">{{ conversation.topic }}</h2>
            <span>{{_('Participants')}}: {{ conversation.participant_count }}</span>
          </div>
          <span class="w-full text-center text-sm p-2">{{_('Abierto desde')}}: {{ conversation.start_date|date:'d/m/Y' }} {{_('hasta')}}: {{ conversation.end_date|date:'d/m/Y' }}</span>
          <p class="h-full">{{ conversation.description }}</p>
          <a class="border border-1 rounded-md m-3 text-center p-2 bg-gray-800 text-white font-bold" style="background-color: {{conversation.color_primary}}" href="{% url 'conversation' conversation.slug %}">{{ _('Go to the conversation') }}</a>
        </div>
      {% endfor %}
    </section>
  {% else %}
    {% include 'pages/participant_form.html' %}
  {% endif %}
{% endblock %}
