{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block content %}
<main id="content">
    <section id="conversaciones">
        <div class="container mx-auto px-6 xl:px-4">
            <div class="grid grid-cols-1 gap-8 xl:grid-cols-12">
                <div class="xl:col-span-4">
                    <h2 class="mb-4 text-base font-medium uppercase tracking-widest text-teal-600 lg:text-xl">
                        Conversaciones
                    </h2>
                    <h3 class="mb-6 text-[40px] font-semibold leading-tight text-teal-600 xl:mb-8">
                        Despolarizar el debate
                    </h3>
                    <div class="space-y-4 text-teal-600">
                        <p>
                            Participa busca aportar a la despolarización en distintas temáticas de discusión pública.
                            Para ello, pone a disposición una herramienta que promueve la discusión a partir de diferentes opiniones.
                            Así, invitamos a descrubrir acuerdos aún en las diferentes posiciones.
                        </p>
                    </div>
                    <div class="hidden lg:block">
                        <h4 class="mt-10 mb-6 text-[20px] font-semibold leading-tight text-teal-600 xl:mb-8">
                            Sobre Participa
                        </h4>
                        <div class="space-y-4 text-teal-600 text-sm">
                            <p>
                                El Laboratorio de Participación y Tecnologías de la Universidad de la República, Participa,
                                impulsa procesos de investigación-acción para la transformación social,
                                utilizando tecnologías digitales de manera inteligente.
                                Con un enfoque interdisciplinario, combina saberes de informática, comunicación, ciencia política y sociología.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="xl:col-span-5 xl:col-start-7">
                    <div class="splide" role="group" data-splide='{"autoHeight":true,"type":"loop","gap":"16px","arrows":true,"pagination":false,"perPage":1,"perMove":1}'>
                        <div class="splide__track -mx-3">
                            <ul class="splide__list">
                                {% for conversation in object_list %}
                                <li class="splide__slide p-3">
                                    <div class="flex flex-col rounded-3xl bg-white px-4 lg:px-14 py-3 lg:py-6 shadow-[6px_6px_14px_rgba(0,0,0,0.05)]">
                                        <div class="mb-[15px]">
                                            <img src="{% static 'img/icon-conversaciones.svg' %}" alt="" />
                                        </div>
                                        <div>
                                            <h3 class="mb-[19px] text-2xl font-medium text-teal-600">
                                                {{ conversation.topic }}
                                            </h3>
                                            <div class="space-y-4 text-base text-teal-600">
                                                <p>{{ conversation.description }}</p>
                                            </div>
                                            <hr class="my-4 border-teal-300" />
                                        </div>
                                        <div class="mt-auto flex items-center justify-between gap-4 lg:gap-8">
                                            <a href="#" class="rounded-full bg-teal-400 px-4 py-2 text-sm font-medium uppercase text-white">Abierta</a>
                                            <a href="{% url 'conversation' conversation.slug %}" class="parti-btn">Participar<span class="material-symbols-outlined">group</span> {{ conversation.participant_count }}</a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mt-8 flex justify-end">
                            <div class="splide__arrows flex justify-end gap-7 xl:gap-[70px]"></div>
                        </div>
                    </div>
                </div>
                <div class="block lg:hidden">
                    <h4 class="mt-10 mb-6 text-[20px] font-semibold leading-tight text-teal-600 xl:mb-8">
                        Sobre Participa
                    </h4>
                    <div class="space-y-4 text-teal-600 text-sm">
                        <p>
                            El Laboratorio de Participación y Tecnologías de la Universidad de la República, Participa,
                            impulsa procesos de investigación-acción para la transformación social,
                            utilizando tecnologías digitales de manera inteligente.
                            Con un enfoque interdisciplinario, combina saberes de informática, comunicación, ciencia política y sociología.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block footer %}
{% include "components/polis_footer.html" %}
{% endblock footer %}


