{% extends 'base.html' %}
{% load socialaccount %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block content %}
<div class="max-w-7xl mx-auto">
  <h1 class="text-2xl lg:text-3xl font-bold text-center p-3">{{ _('Login') }}</h1>
  <p class="mx-auto max-w-3xl p-5">{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa dolor, aliquet nec diam maximus, aliquet feugiat magna. Nulla id velit luctus augue posuere vulputate ut quis ipsum. Proin molestie nisi vel gravida euismod. Fusce sed odio nec mauris cursus dapibus. Suspendisse eu massa vehicula, ullamcorper nisl in, dictum purus. ') }}</p>
  <div class="flex flex-col my-4 items-center justify-between w-full">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          {% for provider in socialaccount_providers %}
          
            {% if provider.id == 'google' %}
            <div class="p-2">
              <form action="{% provider_login_url provider.id %}" method="post" >
              {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="flex items-center bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4  rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-google"></i>{{provider.name}}</button>
              </form>
            </div>
            {% elif provider.id == 'telegram' %}
            <div class="p-2">
              <form action="{% provider_login_url provider.id %}" method="post" >
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="flex items-center bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-telegram"></i>{{provider.name}}</button>
              </form>
            </div>
            {% elif provider.id == 'twitter_oauth2' %}
            <div class="p-2">
              <form action="{% provider_login_url provider.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="flex items-center bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " type="submit" ><i class="mr-1 fa-brands fa-twitter"></i>{{provider.name}}</button>
              </form>
            </div>
            {% endif %}
          
          {% endfor %}
          <div class="p-2">
            <a href="{% url 'participant_create' %}?next={{ request.GET.next }}" class="flex items-center wwhitespace-nowrap bg-naranja hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "><i class="mr-1 fa-regular fa-user-xmark"></i>{{_('Anonymus')}}</a>
          </div>
      {% endif %}
  </div>

</section>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}




