<form method="post" action="{% url "participant" %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="fieldWrapper">
        {{ form.gender.errors }}
        {{ form.gender.label_tag }}
        {{ form.gender }}
    </div>

    <div class="fieldWrapper">
        {{ form.year_of_birth.errors }}
        {{ form.year_of_birth.label_tag }}
        {{ form.year_of_birth }}
    </div>

    <div class="fieldWrapper">
        {{ form.territory.errors }}
        {{ form.territory.label_tag }}
        {{ form.territory }}
    </div>

    <div class="fieldWrapper">
        {{ form.affinity.errors }}
        {{ form.affinity.label_tag }}
        {{ form.affinity }}
    </div>

    <input type="submit" value="Submit" />
</form>